.hero
  if site.data.index.banner.hero.headline
    h1= site.data.index.banner.hero.headline
  if site.data.index.banner.hero.subheadline
    h2= site.data.index.banner.hero.subheadline
  if site.data.index.banner.hero.description
    p= site.data.index.banner.hero.description
  if site.data.index.banner.hero.button
    button= site.data.index.banner.hero.button.label
