// Base Styles
@import 'font-face';
@import 'variables/variables';
@import 'layout';
@import '../_modules/typography/typography';

// Import Modules
@import '../_modules/header/header';
@import '../_modules/nav/nav';
@import '../_modules/banner/banner';
@import '../_modules/hero/hero';
@import '../_modules/list/list';

@import '../_modules/link/link';
@import '../_modules/image/image';
@import '../_modules/button/button';
@import '../_modules/input/input';


// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}
