// Brand Color Variables

$brand-red-light:             #C51805; // Traditional Red
$brand-red:                   #DC352E; // Official PMI Red


$brand-turquoise:             #5EC1CF;
$brand-turquoise-dark:        #56B1BE;
$brand-turquoise-darker:      #4BA7B4;


$brand-tan:                   #E7DCC2;
$brand-tan-dark:              #D3C6A6;
$brand-tan-darker:            #CAB992;


$brand-brown-light:           #E4B068; // Creamy Garlic
$brand-brown:                 #694C30; // Garlic and Olive Oil

$gray-white:                  #FFF;
$gray-lightest:               #F2F2F2; // CYO circle on tracker
$gray-lighter:                #F0F0F0;
$gray-light:                  #E1E1E1; // Gray Icon
$gray:                        #D9D9D9;  // Border color
$gray-dark:                   #BFBFBF;
$gray-darker:                 #373737; // Crust icon
$gray-black:                  #000;

